<!--Some Feature -->
<section id="our-feature" class="single-feature padding">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-7 col-sm-7 text-sm-left text-center wow fadeInLeft" data-wow-delay="300ms">
                <div class="heading-title mb-4">
                    <h2 class="darkcolor font-normal bottom30">Our Approach to Staff <span class="defaultcolor">Augmentation</span></h2>
                </div>
                <p class="bottom35">RX2 Solutions partners with Clients and Candidates to provide a unique solution that creates a technical, professional, and profession match between both parties for a broad range of Talent Acquisition and Staff Augmentation needs from Information Technology, Scientific & Clinical, Accounting & Finance, and Creative & Marketing.</p>
                <ul>
                    <li>Mission Statement:  RX2 Solutions seeks to help build stronger organizations and allow others to achieve their goals through the creation and execution of world-class human capital strategies.</li>
                    <li>Vision Statement:  To become the go-to resource for both job seekers and hiring managers through professionalism, integrity, and unparalleled service.</li>
                    <li>Value Statement:  Be Respectfully Professional while maintaining honesty and integrity towards colleagues, customers, and candidates.</li>
                </ul>
                <a href="#our-team" class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4">Our Services</a>
                <a href="#our-team" class="button btnsecondary gradient-btn pagescroll mb-sm-0 mb-4">Our Jobs</a>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-5 col-sm-5 wow fadeInRight" data-wow-delay="300ms">
                <div class="image"><img alt="SEO" src="./assets/images/architecture-3588171_1280-1024x682.jpg"></div>
            </div>
        </div>
    </div>
</section>
<!--Some Feature ends-->
