{% assign desired_tag = page["desired-tag"] %}
{% assign desired_posts = site.posts | where_exp: "p", "p.tags contains desired_tag" %}
{%- assign show_recents = "false" -%}
{%- assign postsperpage = 9 -%}
{%- assign columnsperrow = 3 -%}
{%- assign thispage = page.this_page | default: 1 -%}
{%- assign thispageminusone = thispage | minus: 1 -%}
{%- assign postoffset = thispageminusone | times: postsperpage -%}
{%- assign postlimit = postsperpage -%}
{%- assign numarticles = desired_posts | size -%}
{%- assign maxpages = numarticles | divided_by: postsperpage -%}
{%- assign maxpages = maxpages | plus: 1 -%}
{%- assign pagename = desired_tag | append: "s" -%}
{%- if pagename == "publications" -%}
{%- assign pagename = "articles" -%}
{%- endif -%}

{%- assign previouspage = thispage | minus: 1 -%}
{%- if previouspage != 1 -%}
{%- assign previouspagename = pagename | append: previouspage -%}
{%- else -%}
{%- assign previouspagename = pagename -%}
{%- endif -%}

{%- assign nextpage = thispage | plus: 1 -%}
{%- assign nextpagename = pagename | append: nextpage -%}

<!-- Permanently scale thumbnails - force crop -->
<!-- Adjust bars in blog & contact us to show full range of RX2 colors -->

<section id="main-banner-page" class="position-relative page-header blog2-header section-nav-smooth" style="background-image: url('{{- site.baseurl -}}/assets/images/shutterstock_394634593-cropped.jpg')">
    <div class="overlay overlay-dark opacity-4 z-index-1"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="page-titles whitecolor text-center padding_top">
                    <h2 class="font-xlight">Information</h2>
                    <h2 class="font-bold">YOU</h2>
                    <h2 class="font-xlight">Can Use</h2>
                </div>
            </div>
        </div>
        <div class="gradient-bg title-wrap">
            <div class="row">
                <div class="col-lg-12 col-md-12 whitecolor">
                    <h3 class="float-left">{{- desired_tag | capitalize -}}s</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="our-blog" class="bglight padding">
    <div class="container">
        {%- assign columncounter = 1 -%}
        {% for post in desired_posts offset:postoffset limit:postlimit %}
        {% if columncounter == 1 %}
        <div class="row">
        {% endif %}
            <div class="col-md">
                <div class="news_item shadow text-center h-100">
                    <a class="image" href="{{- site.baseurl -}}{{ post.url }}">
                        {%- if post.headline-image -%}
                        <img src="{{- site.baseurl -}}/assets/images/{{- post.headline-image -}}" alt="article thumbnail image" class="img-responsive">
                        {%- elsif post.thumbnail -%}
                        <img src="{{- site.baseurl -}}/assets/images/{{- post.thumbnail -}}" alt="article thumbnail image" class="img-responsive">
                        {%- endif -%}
                    </a>
                    <div class="news_desc">
                        <h3 class="text-capitalize font-normal darkcolor"><a href="{{- site.baseurl -}}{{ post.url }}">{{- post.title -}}</a></h3>
                        <ul class="meta-tags top20 bottom20">
                            <li><a href="#."><i class="fas fa-calendar-alt"></i>{{- post.date | date_to_string -}}</a></li>
                            {%- assign author = site.authors | where: 'short_name', post.author | first -%}
                            {%- if author -%}
                            <li><a href="#."> <i class="far fa-user"></i> {{ author.name -}}</a></li>
                            {%- endif -%}
                        </ul>
                        <div class="top15 blog-article bottom15">
                            {{ post.excerpt }}
                        </div>
                        <a class=" button btn-primary" href="{{- site.baseurl -}}{{ post.url }}">Read More</a>
                    </div>
                </div>
            </div>
        {% if columncounter == columnsperrow %}
        </div>
        <br />
        {%- assign columncounter = 0 -%}
        {%- endif -%}
        {%- assign columncounter = columncounter | plus: 1 -%}
        {% endfor %}
        {% if columncounter > 1 %}
        </div>
        {%- endif -%}
        <div class="row">
            {% if maxpages > 1 %}
            <ul class="pagination padding-bottom bottom40 justify-content-center justify-content-md-start top40">
                <li class="page-item"><a class="page-link{% if thispage == 1 %}  disabled{% endif %}" href="{{- previouspagename -}}.html"><i class="fa fa-angle-left"></i></a></li>
                {%- for pageloop in (1..maxpages) -%}
                <li class="page-item{% if pageloop == thispage %} active{% endif %}"><a class="page-link" href="{{- pagename -}}{%- if pageloop != 1 -%}{{- pageloop -}}{%- endif -%}.html">{{ pageloop }}</a></li>
                {%- endfor -%}
                <li class="page-item"><a class="page-link{% if thispage == maxpages %}  disabled{% endif %}" href="{{- nextpagename -}}.html"><i class="fa fa-angle-right"></i></a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</section>
