<!-- Contact US -->
<section id="stayconnect" class="bglight position-relative">
    <div class="container">
        <div class="contactus-wrapp">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="heading-title wow fadeInUp text-left text-md-start" data-wow-delay="300ms">
                        <h3 class="darkcolor top20 bottom20">Let's Get Started!</h3>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <form class="getin_form wow fadeInUp rx2-contact-intake-form" data-wow-delay="400ms" data-rx2-contact-form data-endpoint="{{ site.landing_opt_in_endpoint }}" data-page-name="{{ page.title | default: 'RX2 Solutions' }}" data-success-message="Thanks. We will be in touch shortly.">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label for="footerFullName" class="d-none">Full Name</label>
                                    <input class="form-control" type="text" placeholder="Full Name" required id="footerFullName" name="full_name">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label for="footerCompanyName" class="d-none">Company Name</label>
                                    <input class="form-control" type="text" placeholder="Company Name" id="footerCompanyName" name="company_name">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label for="footerEmail" class="d-none">Email</label>
                                    <input class="form-control" type="email" placeholder="Email" required id="footerEmail" name="email">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label for="footerPhoneNumber" class="d-none">Phone Number</label>
                                    <input class="form-control" type="tel" placeholder="Phone Number" required id="footerPhoneNumber" name="phone_number" inputmode="tel" pattern="^\\+?[0-9\\s().-]{7,}$">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group rx2-contact-honeypot">
                                    <label for="footerConfirmEmail" class="d-none">Leave this field blank</label>
                                    <input class="form-control" type="text" id="footerConfirmEmail" name="confirm_email" tabindex="-1" autocomplete="off">
                                </div>
                                <div class="rx2-contact-form-message" data-rx2-contact-message aria-live="polite"></div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <button type="submit" class="button gradient-btn w-100">Start a Respectfully Professional Conversation</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact US ends -->
