<!--Site Footer Here-->
<footer id="site-footer" class=" bgdark">
  <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer_panel padding_bottom_half bottom20">
            &copy; 2018-2020 RX2 Solutions LLC
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="footer_panel padding_bottom_half bottom20">
<!--                  <a href="{{ site.baseurl }}/index.html" class="footer_logo bottom25"><img src="{{ site.baseurl }}/assets/images/RX2-Solutions-01-1-e1540759905312.jpg" alt="RX2 Solutions Logo"></a> -->
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="footer_panel padding_bottom_half bottom20">
                     +1-610-340-3490 
                </div>
            </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="footer_panel padding_bottom_half bottom20 pl-0 pl-lg-5">
                <a class="d-block" href="mailto:info@rx2solutions.com">info@rx2solutions.com</a>
              </div>
          </div>
      </div>
  </div>
</footer>
<!--Footer ends-->