<footer id="site-footer" class="bgdark">
  <div class="container py-2">
    <div class="row">
      <div class="col-md-4 text-md-left">
        <div class="footer_panel whitecolor">
          &copy; 2018-2020 RX2 Solutions LLC
        </div>
      </div>
      <div class="col-md-4 text-md-center">
        <div class="footer_panel whitecolor">
          +1-610-340-3490 
        </div>
      </div>
      <div class="col-md-4 text-md-right">
        <div class="footer_panel whitecolor"></div>
          <a href="mailto:info@rx2solutions.com">info@&#8203;rx2solutions.com</a>
        </div>
      </div>
    </div>
  </div>
</footer>