<footer id="site-footer" class="bgdark">
  <div class="container py-2">
    <div class="row">
      <div class="col">
        <div class="footer_panel whitecolor">
          &copy; 2018-2020 RX2 Solutions LLC
        </div>
      </div>
      <div class="col">
        <div class="footer_panel whitecolor" style="text-align: center;">
          +1-610-340-3490 
        </div>
      </div>
      <div class="col">
        <div class="footer_panel whitecolor" style="text-align: right;">
          <a href="mailto:info@rx2solutions.com">info@&#8203;rx2solutions.com</a>
        </div>
      </div>
    </div>
  </div>
</footer>