{% assign home = site.data.home %}

<section id="{{- home.cta.target_id | default: 'stayconnect' -}}" class="bglight position-relative padding_bottom_half">
    <div class="container">
        <div class="contactus-wrapp rx2-home-contact-wrapp">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="heading-title wow fadeInUp rx2-home-contact-copy text-center text-lg-left" data-wow-delay="300ms">
                        {% if home.cta.form_eyebrow != blank %}
                        <span class="rx2-section-kicker">{{- home.cta.form_eyebrow -}}</span>
                        {% endif %}
                        <h3 class="darkcolor bottom10">{{- home.cta.form_title | default: home.cta.title -}}</h3>
                        {% if home.cta.form_intro != blank %}
                        <p class="mb-0">{{- home.cta.form_intro -}}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 mt-4 mt-lg-0">
                    <form class="getin_form wow fadeInUp rx2-home-contact-form rx2-contact-intake-form" data-wow-delay="400ms" data-rx2-contact-form data-endpoint="{{ site.landing_opt_in_endpoint }}" data-page-name="Home Page" data-success-message="Thanks. We will be in touch shortly.">
                        <div class="rx2-home-contact-message rx2-contact-form-message" data-rx2-contact-message aria-live="polite"></div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="homeFullName" class="d-none">Full Name</label>
                                    <input class="form-control" type="text" placeholder="Full Name" required id="homeFullName" name="full_name">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="homeCompanyName" class="d-none">Company Name</label>
                                    <input class="form-control" type="text" placeholder="Company Name" id="homeCompanyName" name="company_name">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="homeEmail" class="d-none">Email</label>
                                    <input class="form-control" type="email" placeholder="Email" required id="homeEmail" name="email">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="homePhoneNumber" class="d-none">Phone Number</label>
                                    <input class="form-control" type="tel" placeholder="Phone Number" required id="homePhoneNumber" name="phone_number" inputmode="tel" pattern="^\\+?[0-9\\s().-]{7,}$">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group rx2-contact-honeypot">
                                    <label for="homeConfirmEmail" class="d-none">Leave this field blank</label>
                                    <input class="form-control" type="text" id="homeConfirmEmail" name="confirm_email" tabindex="-1" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="button gradient-btn w-100">{{- home.cta.form_submit_label | default: 'Start a Respectfully Professional Conversation' -}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
