{%- unless include.background -%}
{%- assign include.background = "377.jpg" -%}
{%- endunless -%}
<section id="mainpagehero" class="hero" style='background-size: auto; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{{- site.baseurl -}}/assets/images/{{- include.background -}}")' >
  <div class="container">
    <div class="row gutsRow" style="color:{{- include.text-color -}}">
        <div class="gutsContent">
          <div style="margin: 20px; margin-top: 100px;">
            {{ include.content }}
          </div>
        </div>
    </div>
  </div>
</section>
