{%- unless include.background -%}
{%- assign include.background = "377.jpg" -%}
{%- endunless -%}
{%- unless include.opacity -%}
{%- assign include.opacity = ".5" -%}
{%- endunless -%}
<section id="mainpagehero" class="min-vh-100" style='background-size: cover; background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("{{- site.baseurl -}}/assets/images/{{- include.background -}}")'>
  <div class="container">
    <div class="row min-vh-100 align-items-center" style='color:{{- include.text-color -}}'>
        <div class="col gutsContent">
          <div style="margin: 20px; margin-top: 80px;">
            {{ include.content }}
          </div>
        </div>
    </div>
  </div>
</section>
