<nav class="navbar navbar-expand-lg transparent-bg bg-transparent darkcolor static-nav mt-sm-4 mt-2">
  <div class="container bg-white border-radius-50 position-relative">
      <a class="navbar-brand pl-2" href="{{ site.baseurl }}/index.html">
          <img src="{{ site.baseurl }}/assets/images/RX2-Solutions-01-1-e1540759905312.jpg" class="logo-default">
          <img src="{{ site.baseurl }}/assets/images/RX2-Solutions-01-1-e1540759905312.jpg" class="logo-scrolled">
      </a>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav mx-auto">

            {% for item in site.data.navigation %}
                {% if item.subitems[0] %}
                    <li class="nav-item dropdown position-relative">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{- item.name -}}</a>
                        <div class="dropdown-menu">
                            {% for subitem in item.subitems %}
                                <a class="dropdown-item{% if page.url == subitem.link %} active{%- endif -%}" href="{{- site.baseurl -}}{{- subitem.link -}}">{{- subitem.name -}}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link{% if page.url == item.link %} active{%- endif -%}" href="{{- site.baseurl -}}{{- item.link -}}">{{- item.name -}}</a>
                    </li>
                {% endif %}
            {% endfor %}

          </ul>
      </div>
      <ul class="social-icons social-icons-simple d-lg-inline-block d-none animated fadeInUp mt-0" data-wow-delay="300ms">
        <li><a href="mailto:info@rx2solutions.com"><i class="fas fa-envelope"></i> </a> </li>
        <li><a href="https://www.linkedin.com/company/rx2-solutions/"><i class="fab fa-linkedin-in"></i> </a> </li>
    </ul>
      <!--side menu open button-->
      <a href="javascript:void(0)" class="d-inline-block d-lg-none sidemenu_btn mr-0" id="sidemenu_toggle">
          <span class="bg-dark"></span> <span class="bg-dark"></span> <span class="bg-dark"></span>
      </a>
  </div>
</nav>

    <!-- side menu -->
    <div class="side-menu opacity-0 gradient-bg">
        <div class="overlay"></div>
        <div class="inner-wrapper">
            <span class="btn-close btn-close-no-padding" id="btn_sideNavClose"><i></i><i></i></span>
            <nav class="side-nav w-100">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{- site.baseurl }}/index.html">Home</a>
                    </li>

                    {% assign step = 1 %}
                    {% for item in site.data.navigation %}
                        {% if item.subitems[0] %}
                    <li class="nav-item">
                        <a class="nav-link collapsePagesSideMenu" data-toggle="collapse" href="#sideNavPages{{- step -}}">{{- item.name -}}<i class="fas fa-chevron-down"></i></a>
                        <div id="sideNavPages{{- step -}}" class="collapse sideNavPages">
                            <ul class="navbar-nav mt-2">
                                {% for subitem in item.subitems %}
                                <li class="nav-item"><a class="nav-link{% if page.url == subitem.link %} active{%- endif -%}" href="{{- site.baseurl -}}{{- subitem.link -}}">{{ subitem.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                        {% assign step = step | plus: 1 %}
                    {% else %}
                    <li class="nav-item"><a class="nav-link{% if page.url == item.link %} active{%- endif -%}" href="{{- site.baseurl -}}{{- item.link -}}">{{- item.name -}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            <div class="side-footer w-100">
                <ul class="social-icons-simple white top40">
                    <li><a href="mailto:info@rx2solutions.com"><i class="fas fa-envelope"></i> </a> </li>
                    <li><a href="https://www.linkedin.com/company/rx2-solutions/"><i class="fab fa-linkedin-in"></i> </a> </li>
                </ul>
                <p class="whitecolor">&copy; <span id="year"></span> RX2 Solutions LLC</p>
            </div>
        </div>
    </div>
    <div id="close_side_menu" class="tooltip"></div>
    <!-- End side menu -->
