<nav class="navbar navbar-expand-lg transparent-bg bg-transparent darkcolor static-nav mt-sm-4 mt-2">
  <div class="container bg-white border-radius-50 position-relative">
      <a class="navbar-brand pl-2" href="index.html">
          <img src="./assets/images/RX2-Solutions-01-1-e1540759905312.jpg" alt="logo" class="logo-default">
          <img src="./assets/images/RX2-Solutions-01-1-e1540759905312.jpg" alt="logo" class="logo-scrolled">
      </a>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav mx-auto">

            {% for item in site.data.navigation %}
                {% if item.subitems[0] %}
                    <li class="nav-item dropdown position-relative">
                        <a class="nav-link dropdown-toggle{% if page.url == item.link %} current{% endif %}" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ item.name }} </a>
                        <div class="dropdown-menu">
                            {% for subitem in item.subitems %}
                                <a class="dropdown-item" href="{{ subitem.link }}">{{ subitem.name}}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link{% if page.url == item.link %} current{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}

          </ul>
      </div>
      <ul class="social-icons social-icons-simple d-lg-inline-block d-none animated fadeInUp mt-0" data-wow-delay="300ms">
          <li><a href="#."><i class="fab fa-facebook-f"></i> </a> </li>
          <li><a href="#."><i class="fab fa-twitter"></i> </a> </li>
          <li><a href="#."><i class="fab fa-linkedin-in"></i> </a> </li>
      </ul>
      <!--side menu open button-->
      <a href="javascript:void(0)" class="d-inline-block d-lg-none sidemenu_btn mr-0" id="sidemenu_toggle">
          <span class="bg-dark"></span> <span class="bg-dark"></span> <span class="bg-dark"></span>
      </a>
  </div>
</nav>
