<section id="rpp" class="padding bgdarker min-vh-100">
    <div class="container min-vh-100">
        <div class="row">
            <div class="col-md-12 text-center heading_space wow fadeIn" data-wow-delay="300ms">
                <h2 class="heading bottom30 darkcolor font-light2"><span
                        class="font-weight-light">{{ page.title }}</span>
                    <span class="divider-center"></span>
                </h2>
                <div class="col-md-8 offset-md-2">
                    <p class="mb-n3">
                        The goal of the <i>Respectfully Professional Process</i> is to provide Quality over
                        Quantity and Relationships over Transactions - ultimately saving time for everyone.
                        We achieve this goal by gaining a deep understanding of what both the client and the
                        job seeker are looking for while treating everyone the way that we want to be treated.
                        The result is that we deliver a solution that works for everyone.
                    </p>
                </div>
            </div>
        </div>
        <div id="services-measonry" class="cbp">
            <div class="cbp-item discovery client">
                <div class="services-main">
                    <div class="image bottom10">
                        <div class="image"><img alt="SEO"
                                src="{{ site.baseurl }}/assets/images/shutterstock_1390292588.png"></div>
                        <div class="overlay">
                        </div>
                    </div>
                    <div class="services-content brand text-center text-md-left bglight">
                        <h3 class="bottom10 darkcolor">Discovery</h3>
                        <p class="bottom15">We start every engagement with a thorough analysis of your needs.
                            Together, we'll ascertain what you're looking for, what you want to avoid, and
                            then craft a custom solution to achieve your goals.
                        </p>
                    </div>
                </div>
            </div>
            <div class="cbp-item approach client">
                <div class="services-main">
                    <div class="image bottom10">
                        <div class="image"><img alt="SEO"
                                src="{{- site.baseurl -}}/assets/images/shutterstock_1240181551.png"></div>
                        <div class="overlay">
                        </div>
                    </div>
                    <div class="services-content brand text-center text-md-left">
                        <h3 class="bottom10 darkcolor"><a href="#.">Approach</a></h3>
                        <p class="bottom15">What sets RX2 Solutions apart is our focus on ensuring fit.
                            We specialize in providing customized solutions that instill confidence while
                            presenting a full range of choices within your budget.
                        </p>
                    </div>
                </div>
            </div>
            <div class="cbp-item communication client">
                <div class="services-main">
                    <div class="image bottom10">
                        <div class="image"><img alt="SEO"
                                src="{{ site.baseurl }}/assets/images/shutterstock_1048849958.png"></div>
                        <div class="overlay">
                        </div>
                    </div>
                    <div class="services-content brand text-center text-md-left">
                        <h3 class="bottom10 darkcolor">Communication</h3>
                        <p class="bottom15">
                            Effective communication is key to any successful partnership.
                            We position ourselves alongside you providing real-time market insights and
                            recalibrate based on mutual feedback.
                        </p>
                    </div>
                </div>
            </div>
            <div class="cbp-item recalibration client">
                <div class="services-main">
                    <div class="image bottom10">
                        <div class="image"><img alt="SEO"
                                src="{{- site.baseurl -}}/assets/images/shutterstock_1751168657.png"></div>
                        <div class="overlay">
                        </div>
                    </div>
                    <div class="services-content brand text-center text-md-left">
                        <h3 class="bottom10 darkcolor">Deployment</h3>
                        <p class="bottom15">As soon as our partnership begins, we seamlessly integrate with
                            your organization to deliver the solutions you need. Your goals are our priorities,
                            and we establish clear, ambitious timelines based on the tailored solutions we
                            design together.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
