<section id="rpp" class="padding bgdarker min-vh-100">
    <div class="container min-vh-100">
        <div class="row">
            <div class="col-md-12 text-center heading_space wow fadeIn" data-wow-delay="300ms">
                <h2 class="heading bottom30 darkcolor font-light2"><span
                        class="font-weight-light">{{ page.title }}</span>
                    <span class="divider-center"></span>
                </h2>
                <div class="col-md-8 offset-md-2">
                    <p class="mb-n3">
                        The goal of the <i>Respectfully Professional Process</i> is to provide Quality over
                        Quantity and Relationships over Transactions – ultimately saving time for everyone.
                        We achieve this goal by gaining a deep understanding of what both the client and the job seeker
                        are
                        looking for while treating everyone the way that we want to be treated.
                        The result is that we deliver a solution that works for everyone.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="services-filter" class="cbp-l-filters dark bottom40 wow fadeIn d-table mx-auto"
                data-wow-delay="350ms">
                <div data-filter=".client" class="cbp-filter-item cbp-filter-item-active">
                    <span>Clients</span>
                </div>
                <div data-filter=".candidate" class="cbp-filter-item">
                    <span>Candidates</span>
                </div>
            </div>
        </div>
        <div id="services-measonry" class="cbp">
            <div class="cbp-item discovery client">
                <div class="services-main">
                    <div class="image bottom10">
                        <div class="image"><img alt="SEO"
                                src="{{ site.baseurl }}/assets/images/shutterstock_1390292588.png"></div>
                        <div class="overlay">
                        </div>
                    </div>
                    <div class="services-content brand text-center text-md-left bglight">
                        <h3 class="bottom10 darkcolor">Discovery</h3>
                        <p class="bottom15">When engaging a client, we perform an initial needs analysis to ascertain
                            what you are looking for, what you want to avoid, and then only present solutions that are a
                            fit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="cbp-item discovery candidate">
                <div class="services-main">
                    <div class="image bottom10">
                        <div class="image"><img alt="SEO"
                                src="{{- site.baseurl -}}/assets/images/shutterstock_1271148352.png"></div>
                        <div class="overlay">
                        </div>
                    </div>
                    <div class="services-content brand text-center text-md-left">
                        <h3 class="bottom10 darkcolor">Discovery</h3>
                        <p class="bottom15">When engaging a job seeker, we spend time to understand career goals,
                            objectives, and background before discussing opportunities or compensation. It’s our goal to
                            build long-term relationships rather than just throw out a job and salary to see if we can
                            make a transaction happen.
                        </p>
                    </div>
                </div>
            </div>
            <div class="cbp-item approach client">
                <div class="services-main">
                    <div class="image bottom10">
                        <div class="image"><img alt="SEO"
                                src="{{- site.baseurl -}}/assets/images/shutterstock_1240181551.png"></div>
                        <div class="overlay">
                        </div>
                    </div>
                    <div class="services-content brand text-center text-md-left">
                        <h3 class="bottom10 darkcolor"><a href="#.">Approach</a></h3>
                        <p class="bottom15">Anyone can match keywords on a resume to your job description - what
                            separates RX2 Solutions is that we go much deeper to ensure fit. Our value add is that we
                            take the extra time to vet candidates and to provide options based on your specific
                            requirements. We provide candidates across your budget range so you can see a broad
                            cross-section of the current market.
                        </p>
                    </div>
                </div>
            </div>
            <div class="cbp-item approach candidate">
                <div class="services-main">
                    <div class="image bottom10">
                        <div class="image"><img alt="SEO"
                                src="{{- site.baseurl -}}/assets/images/shutterstock_1271148355.png"></div>
                        <div class="overlay">
                        </div>
                    </div>
                    <div class="services-content brand text-center text-md-left">
                        <h3 class="bottom10 darkcolor">Approach</h3>
                        <p class="bottom15">We are here to be on your team and to be your advocate. It’s our job to open
                            doors for you and provide market insight so you can make informed decisions. We only present
                            you to opportunities after we have gone through our process and you give us the approval to
                            do so.
                        </p>
                    </div>
                </div>
            </div>
            <div class="cbp-item communication client">
                <div class="services-main">
                    <div class="image bottom10">
                        <div class="image"><img alt="SEO"
                                src="{{ site.baseurl }}/assets/images/shutterstock_1048849958.png"></div>
                        <div class="overlay">
                        </div>
                    </div>
                    <div class="services-content brand text-center text-md-left">
                        <h3 class="bottom10 darkcolor">Communication</h3>
                        <p class="bottom15">
                            Communication is key in any successful partnership and we will be with you throughout the
                            entire hiring process.
                            We will provide you with real-time market insight, and recalibrate our search based on your
                            feedback and the market demands.
                        </p>
                    </div>
                </div>
            </div>
            <div class="cbp-item recalibration client">
                <div class="services-main">
                    <div class="image bottom10">
                        <div class="image"><img alt="SEO"
                                src="{{- site.baseurl -}}/assets/images/shutterstock_1751168657.png"></div>
                        <div class="overlay">
                        </div>
                    </div>
                    <div class="services-content brand text-center text-md-left">
                        <h3 class="bottom10 darkcolor">Deployment</h3>
                        <p class="bottom15">We are here to help facilitate interviews, share progress, report market
                            conditions, set reasonable expectations, and ultimately deliver the solution that you want.
                        </p>
                    </div>
                </div>
            </div>
            <div class="cbp-item communication candidate">
                <div class="services-main">
                    <div class="image bottom10">
                        <div class="image"><img alt="SEO"
                                src="{{- site.baseurl -}}/assets/images/shutterstock_1223150650.png"></div>
                        <div class="overlay">
                        </div>
                    </div>
                    <div class="services-content brand text-center text-md-left">
                        <h3 class="bottom10 darkcolor">Communication</h3>
                        <p class="bottom15">
                            In any relationship communication is key and we will be in touch with you throughout the
                            entire hiring process.
                            Our goal is to create an enjoyable job-hunting experience while setting realistic
                            expectations.
                        </p>
                    </div>
                </div>
            </div>
            <div class="cbp-item recalibration candidate">
                <div class="services-main">
                    <div class="image bottom10">
                        <div class="image"><img alt="SEO"
                                src="{{- site.baseurl -}}/assets/images/shutterstock_472926997.png"></div>
                        <div class="overlay">
                        </div>
                    </div>
                    <div class="services-content brand text-center text-md-left">
                        <h3 class="bottom10 darkcolor">Deployment</h3>
                        <p class="bottom15">
                            We are here to provide insight into how specific opportunities align with what you’re
                            looking for, discuss market trends, help prepare you for interviews, provide resume cleanup,
                            facilitate the hiring process, and ultimately find you the opportunity you are looking for.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
