<!-- Services us -->
<section id="our-services" class="padding bglight">
  <div class="container">
      <div class="col-md-12 text-center heading_space wow fadeIn" data-wow-delay="300ms">
          <h2 class="heading bottom30 darkcolor font-light2"><span class="font-weight-light">{{ page.title }}</span>
              <span class="divider-center"></span>
          </h2>
          <div class="col-md-8 offset-md-2">
              <p class="mb-n3">The goal of the <strong>Respectfully Professional Process</strong> is to provide Quality over Quantity and Relationships over Transactions – ultimately saving time for everyone.  We achieve this goal by gaining a deep understanding of what both the client and the job seeker are looking for while treating everyone the way that we want to be treated.  The result is that we deliver a solution that works for everyone.

              </p>
          </div>
      </div>
      <div id="services-filter" class="cbp-l-filters dark bottom40 wow fadeIn d-table mx-auto" data-wow-delay="350ms">
          <div data-filter=".client" class="cbp-filter-item cbp-filter-item-active">
            <span>Client</span>
        </div>
        <div data-filter=".candidate" class="cbp-filter-item">
            <span>Candidate</span>
        </div>
  </div>
      <div id="services-measonry" class="cbp">
        <div class="cbp-item discovery client">
            <div class="services-main">
                <div class="image bottom10">
                    <div class="image"><img alt="SEO" src="{{ site.baseurl }}/assets/images/service-1.jpg"></div>
                    <div class="overlay">
<!--                        <a href="services-detail.html" class="overlay_center border_radius"><i class="fa fa-eye"></i></a> -->
                    </div>
                </div>
                <div class="services-content brand text-center text-md-left">
                    <h3 class="bottom10 darkcolor">Discovery</h3>
                    <p class="bottom15">When engaging a client, we perform an initial needs analysis to ascertain what you  are looking for, what you want to avoid, and then only present solutions that are a fit.
                    </p>
<!--                      <a href="services-detail.html" class="button-readmore">Learn More</a> -->
                </div>
            </div>
        </div>
        <div class="cbp-item discovery candidate">
            <div class="services-main">
                <div class="image bottom10">
                    <div class="image"><img alt="SEO" src="./assets/images/service-1.jpg"></div>
                    <div class="overlay">
<!--                        <a href="services-detail.html" class="overlay_center border_radius"><i class="fa fa-eye"></i></a> -->
                    </div>
                </div>
                <div class="services-content brand text-center text-md-left">
                    <h3 class="bottom10 darkcolor"><a href="services-detail.html">Discovery</a></h3>
                    <p class="bottom15">When engaging a job seeker, we spend time to understand  career goals, objectives, and background before discussing opportunities or compensation.  It’s our goal to build  long-term relationships rather than just throw out a job and salary to see if we can make a transaction happen. 
                    </p>
<!--                      <a href="services-detail.html" class="button-readmore">Learn More</a> -->
                </div>
            </div>
        </div>
        <div class="cbp-item approach client">
            <div class="services-main">
                <div class="image bottom10">
                    <div class="image"><img alt="SEO" src="./assets/images/service-1.jpg"></div>
                    <div class="overlay">
<!--                        <a href="services-detail.html" class="overlay_center border_radius"><i class="fa fa-eye"></i></a> -->
                    </div>
                </div>
                <div class="services-content brand text-center text-md-left">
                    <h3 class="bottom10 darkcolor"><a href="services-detail.html">Approach</a></h3>
                    <p class="bottom15">Anyone can match keywords on a resume to your job description - what separates RX2 Solutions is that we go much deeper to ensure fit.  Our value add is that we take the extra time to vet candidates and to provide options based on your specific requirements. We provide candidates across your budget range so you can see a broad cross-section of the current market.
                    </p>
<!--                      <a href="services-detail.html" class="button-readmore">Learn More</a> -->
                </div>
            </div>
        </div>
        <div class="cbp-item approach candidate">
            <div class="services-main">
                <div class="image bottom10">
                    <div class="image"><img alt="SEO" src="./assets/images/service-1.jpg"></div>
                    <div class="overlay">
<!--                        <a href="services-detail.html" class="overlay_center border_radius"><i class="fa fa-eye"></i></a> -->
                    </div>
                </div>
                <div class="services-content brand text-center text-md-left">
                    <h3 class="bottom10 darkcolor"><a href="services-detail.html">Approach</a></h3>
                    <p class="bottom15">We are here to be on your team and to be your advocate.  It’s our job to open doors for you and provide market insight so you can make informed decisions.   We only present you to opportunities after we have gone through our process and you give us the approval to do so.
                    </p>
<!--                      <a href="services-detail.html" class="button-readmore">Learn More</a> -->
                </div>
            </div>
        </div>
        <div class="cbp-item communication client">
            <div class="services-main">
                <div class="image bottom10">
                    <div class="image"><img alt="SEO" src="{{ site.baseurl }}/assets/images/service-1.jpg"></div>
                    <div class="overlay">
<!--                        <a href="services-detail.html" class="overlay_center border_radius"><i class="fa fa-eye"></i></a> -->
                    </div>
                </div>
                <div class="services-content brand text-center text-md-left">
                    <h3 class="bottom10 darkcolor">Communication &amp; Deployment</h3>
                    <p class="bottom15">We will be in touch with you throughout the entire process as a trusted advisor to help facilitate hiring, share progress, report market conditions and set reasonable expectations.
                    </p>
<!--                      <a href="services-detail.html" class="button-readmore">Learn More</a> -->
                </div>
            </div>
        </div>
        <div class="cbp-item recalibration client">
            <div class="services-main">
                <div class="image bottom10">
                    <div class="image"><img alt="SEO" src="./assets/images/service-1.jpg"></div>
                    <div class="overlay">
<!--                        <a href="services-detail.html" class="overlay_center border_radius"><i class="fa fa-eye"></i></a> -->
                    </div>
                </div>
                <div class="services-content brand text-center text-md-left">
                    <h3 class="bottom10 darkcolor"><a href="services-detail.html">Recalibration</a></h3>
                    <p class="bottom15">We understand that things change.  If your needs while we are working together and we need to adjust, we are highly adaptable.
                    </p>
<!--                      <a href="services-detail.html" class="button-readmore">Learn More</a> -->
                </div>
            </div>
        </div>
        <div class="cbp-item communication candidate">
            <div class="services-main">
                <div class="image bottom10">
                    <div class="image"><img alt="SEO" src="./assets/images/service-1.jpg"></div>
                    <div class="overlay">
<!--                        <a href="services-detail.html" class="overlay_center border_radius"><i class="fa fa-eye"></i></a> -->
                    </div>
                </div>
                <div class="services-content brand text-center text-md-left">
                    <h3 class="bottom10 darkcolor"><a href="services-detail.html">Communication &amp; Deployment</a></h3>
                    <p class="bottom15">We will be in touch with you throughout the entire process as a trusted advisor to help facilitate hiring, share progress, report market conditions and set reasonable expectations.
                    </p>
<!--                      <a href="services-detail.html" class="button-readmore">Learn More</a> -->
                </div>
            </div>
        </div>
        <div class="cbp-item recalibration candidate">
            <div class="services-main">
                <div class="image bottom10">
                    <div class="image"><img alt="SEO" src="./assets/images/service-1.jpg"></div>
                    <div class="overlay">
<!--                        <a href="services-detail.html" class="overlay_center border_radius"><i class="fa fa-eye"></i></a> -->
                    </div>
                </div>
                <div class="services-content brand text-center text-md-left">
                    <h3 class="bottom10 darkcolor"><a href="services-detail.html">Recalibration</a></h3>
                    <p class="bottom15">We understand that things change.  If your needs while we are working together and we need to adjust, we are highly adaptable.
                    </p>
<!--                      <a href="services-detail.html" class="button-readmore">Learn More</a> -->
                </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!-- Services us ends -->
