<div class="cbp-item {{ include.name }} client">
  <a href="{{- include.link -}}">
    <div class="services-main">
        <div class="image bottom10">
            <div class="image"><img alt="SEO"
                    src="{{ site.baseurl }}/assets/images/{{- include.image -}}"></div>
            <div class="overlay">
            </div>
        </div>
        <div class="services-content brand text-center text-md-left bglight">
            <h3 class="bottom10 darkcolor">{{- include.name -}}</h3>
            <p class="bottom15">{{- include.text -}}</p>
        </div>
    </div>
  </a>
</div>
