{% assign home = site.data.home %}

<section id="our-services" class="padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <div class="heading-title bottom30 wow fadeInUp" data-wow-delay="300ms">
                    <span class="rx2-section-kicker">{{- home.services.eyebrow -}}</span>
                    <h2 class="darkcolor font-normal">{{- home.services.title -}}</h2>
                    <p class="py-3 mb-0">{{- home.services.description -}}</p>
                </div>
            </div>
        </div>
        <div class="row top30 rx2-service-grid">
            {% for item in home.services.items %}
            <div class="col-lg-4 col-md-6 pb-4">
                <article class="services-main rx2-service-panel h-100 wow fadeInUp" data-wow-delay="{{ forloop.index | times: 100 | plus: 200 }}ms">
                    <a class="d-flex flex-column w-100" href="{{- site.baseurl -}}{{- item.url -}}">
                        <div class="image bottom10 rx2-service-media">
                            <div class="image rx2-service-image">
                                <img src="{{- site.baseurl -}}/assets/images/{{- item.image -}}" alt="{{- item.title -}}">
                            </div>
                            <div class="overlay"></div>
                        </div>
                        <div class="services-content brand text-center text-md-left bglight">
                            <div class="rx2-service-icon"><i class="{{- item.icon -}}"></i></div>
                            <h3 class="bottom10 darkcolor">{{- item.title -}}</h3>
                            <p class="bottom15 mb-0">{{- item.description -}}</p>
                            <span class="button-readmore">Explore Solution</span>
                        </div>
                    </a>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
