<section id="our-services" class="padding">
  <div class="container">
      <div class="row align-items-center">
          <div class="col">
              <div class="heading-title bottom30 wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
                  <span class="defaultcolor text-center text-md-left"></span>
                  <h2 class="darkcolor font-normal text-center">Our Solutions</h2>
                  <p class="text-center py-3">
                    RX2 Solutions provides National Staff Augmentation and Talent Acquisition Solutions on a retained and<br />
                    contingent basis. Our capabilities include Project Staffing, Contract, Contract-to-hire, and Direct Hire.
                  </p>
              </div>
          </div>
      </div>
      <div class="row d-flex align-items-center" id="app-feature">
          <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="text-center text-md-right">
                <div class="feature-item mt-3 wow fadeInLeft" data-wow-delay="350ms" style="visibility: visible; animation-delay: 350ms; animation-name: fadeInLeft;">
                    <div class="icon"><i class="fas dfa-file-invoice-dollar"></i></div>
                    <div class="text">
                        <h3 class="bottom15">
                            <span class="d-inline-block"><a href="{{- site.baseurl -}}/accounting-finance.html">Accounting &amp; Finance</a></span>
                        </h3>
                        <p>Using our core principles, RX2 Solutions deploys our Respectfully Professional Process to identify...</p>
                    </div>
                </div>
                  <div class="feature-item mt-3 wow fadeInLeft" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInLeft;">
                    <div class="icon"><i class="fas fa-dcog"></i></div>
                    <div class="text">
                        <h3 class="bottom15">
                            <span class="d-inline-block"><a href="{{- site.baseurl -}}/engineering-supplychain.html">Engineering &amp; Supply Chain</a></span>
                        </h3>
                        <p>RX2 Solutions takes a systematic approach to staff augmentation and talent acquisition  by...</p>
                    </div>
                  </div>
                <div class="feature-item mt-3 wow fadeInLeft" data-wow-delay="350ms" style="visibility: visible; animation-delay: 350ms; animation-name: fadeInLeft;">
                    <div class="icon"><i class="fas fa-dmicrochip"></i></div>
                      <div class="text">
                          <h3 class="bottom15">
                              <span class="d-inline-block"><a href="{{- baseurl -}}/information-technology.html">Technology &amp; Business</a></span>
                          </h3>
                          <p>As a technology-driven organization we understand how important it is to have...</p>
                      </div>
              </div>
        </div>
          </div>
          <div class="col-md-4 text-center">
              <div class="app-image top30">
                  <img src="{{- site.baseurl -}}/assets/images/wavy.png" alt="image">
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="text-center text-md-left">
                  <div class="feature-item mt-5 wow fadeInRight" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInRight;">
                    <div class="icon"><i class="fas fa-dpaint-brush"></i></div>
                    <div class="text">
                        <h3 class="bottom15">
                            <span class="d-inline-block"><a href="{{- site.baseurl -}}/marketing-creative.html">Sales &amp; Marketing</a></span>
                        </h3>
                        <p>When you think of an organization’s persona, you think creative, you think projects...</p>
                    </div>
                    </div>
                  <div class="feature-item mt-5 wow fadeInRight" data-wow-delay="350ms" style="visibility: visible; animation-delay: 350ms; animation-name: fadeInRight;">
                    <div class="icon"><i class="fas dfa-flask"></i></div>
                    <div class="text">
                        <h3 class="bottom15">
                            <span class="d-inline-block"><a href="{{- site.baseurl -}}/scientific-clinical.html">Scientific &amp; Clinical</a></span>
                        </h3>
                        <p>Science is in our DNA. RX2 Solutions has been partnering with...</p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
