<section id="solutions" class="">
  <div class="container">
    <div class="row pb-2">
      <div class="col text-center">
        <h3><a href="{{- site.baseurl -}}/engineering-supply-chain.html">Engineering & Supply Chain</a></h3>
      </div>
      <div class="col text-center">
        <h3><a href="{{- site.baseurl -}}/professional-services.html">Professional Services</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h3><a href="{{- site.baseurl -}}/scientific-clinical.html">Scientific & Clinical</a></h3>
      </div>
      <div class="col text-center">
        <h3><a href="{{- site.baseurl -}}/information-technology.html">Information Technology</a></h3>
      </div>
    </div>
  </div>
</section>