<section id="our-team" class="padding_top half-section-alt teams-border">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="heading-title heading_space wow fadeInUp" data-wow-delay="300ms">
                  <span class="defaultcolor text-center text-md-left">Quisque tellus risus, adipisci</span>
                  <h2 class="darkcolor font-normal text-center text-md-left">Meet the Team</h2>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
              <p class="heading_space mt-n3 mt-sm-0 text-center text-md-left">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. </p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div id="ourteam-slider" class="owl-carousel">
                  <div class="item">
                      <div class="team-box">
                          <div class="image">
                              <img src="images/team-1.jpg" alt="">
                          </div>
                          <div class="team-content">
                              <h4 class="darkcolor">Jessica Twain</h4>
                              <p>Agency Owner</p>
                              <ul class="social-icons-simple">
                                  <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                  <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                  <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="team-box">
                          <div class="image">
                              <img src="images/team-2.jpg" alt="">
                          </div>
                          <div class="team-content">
                              <h4 class="darkcolor">Jason Wudex </h4>
                              <p>Designer</p>
                              <ul class="social-icons-simple">
                                  <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                  <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                  <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="team-box single">
                          <div class="image">
                              <img src="images/team-3.jpg" alt="">
                          </div>
                          <div class="team-content">
                              <h4 class="darkcolor">Jessica Twain</h4>
                              <p>Agency Owner</p>
                              <ul class="social-icons-simple">
                                  <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                  <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                  <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="team-box">
                          <div class="image">
                              <img src="images/team-4.jpg" alt="">
                          </div>
                          <div class="team-content">
                              <h4 class="darkcolor">Hayden Wood</h4>
                              <p>Marketing</p>
                              <ul class="social-icons-simple">
                                  <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                  <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                  <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="team-box">
                          <div class="image">
                              <img src="images/team-1.jpg" alt="">
                          </div>
                          <div class="team-content">
                              <h4 class="darkcolor">Shania Jackson </h4>
                              <p>Print Media</p>
                              <ul class="social-icons-simple">
                                  <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                  <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                  <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="team-box">
                          <div class="image">
                              <img src="images/team-2.jpg" alt="">
                          </div>
                          <div class="team-content">
                              <h4 class="darkcolor">Jessica Twain</h4>
                              <p>Agency Owner</p>
                              <ul class="social-icons-simple">
                                  <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                  <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                  <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="team-box">
                          <div class="image">
                              <img src="images/team-3.jpg" alt="">
                          </div>
                          <div class="team-content">
                              <h4 class="darkcolor">Jessica Twain</h4>
                              <p>Agency Owner</p>
                              <ul class="social-icons-simple">
                                  <li><a class="facebook" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
                                  <li><a class="twitter" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
                                  <li><a class="insta" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>