<!-- Testimonials -->
<section id="our-testimonial" class="bglight padding_bottom">
  <div class="parallax page-header testimonial-bg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('{{- site.baseurl -}}/assets/images/stock-photo-diversity-people-group-team-union-concept-386966809-cropped.jpg')" data-parallaxie='{ "speed": -0.8 "size": "auto">, "offset": 100 }'>
      <div class="container">
          <div class="row">
              <div class="col-lg-6 offset-lg-6 col-md-12 text-center text-lg-right">
                  <div class="heading-title wow fadeInUp padding_testi" data-wow-delay="300ms">
                      <span class="whitecolor"></span>
                      <h2 class="whitecolor font-normal">What Our Clients and Candidates Say</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="owl-carousel" id="testimonial-slider">
          <!--item 1-->
          <div class="item testi-box">
              <div class="row align-items-center">
                  <div class="col-lg-4 col-md-12 text-center">
                      <div class="testimonial-round d-inline-block">
                      </div>
                      <h4 class="defaultcolor font-light top15"><a href="#.">CFO</a></h4>
                      <p>A Life Sciences Client</p>
                  </div>
                  <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
                      <p class="bottom15 top90">
                        I have had an excellent experience with Rx2 Solutions for my search for candidates.
                        They take the time to understand what we are looking for and our Company culture to provide high quality candidates.
                        It has been a pleasure to partner with them!
                      </p>
                  </div>
              </div>
          </div>
          <!--item 2-->
          <div class="item testi-box">
              <div class="row align-items-center">
                  <div class="col-lg-4 col-md-12 text-center">
                      <div class="testimonial-round d-inline-block">
                      </div>
                      <h4 class="defaultcolor font-light top15"><a href="#.">Lynne W.</a></h4>
                      <p>A Life Sciences Organization</p>
                  </div>
                  <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
                      <p class="bottom15 top90">
                        I’ve worked with RX2 Solutions on several, hard to fill needs.
                        RX2 Solutions is able to provide high caliber candidates, even on the most difficult searches.
                        They are a “go to” when I have a need, particularly in the Information Technology space.
                        I look forward to working with RX2 Solutions for any future need.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Testimonials Ends-->