<section id="mainpagehero" class="pb-3" style='background-size: cover; background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("{{- site.baseurl -}}/assets/images/{{- page.background -}}")'>
    <div class="container">
      <div class="row align-items-center" style="color: {{- page.text-color -}}">
          <div class="col gutsContent py-4 px-4">
              <h1>{{ page.trailer-title }}</h1>
              {{ page.trailer-text }}
          </div>
      </div>
    </div>
  </section>
  