{% if include.onlywhys != "true" %}
<section id="why" class="py-5 bgdark">
  <div class="container">
    <div class="row pb-4">
      <div class="col text-center">
        <div class="heading-title whitecolor wow fadeInUp" data-wow-delay="300ms">
          <h2 class="font-normal">{{- site.data.why.sectiontitle -}}</h2>
        </div>
      </div>
    </div>
    <div class="row px-5 pb-1">
      <div class="col text-center whitecolor">
        {{- site.data.why.sectionmain -}}<br /><br />
      </div>
    </div>
    <div class="row px-2 pt-3">
      {% for column in site.data.why.whys %}
        <div class="col-12 col-lg-4 text-left whitecolor mb-3">
          <h3>{{- column.name -}}</h3><br />
          {{ column.text }}
        </div>
        {% endfor %}
    </div>
  </div>
</section>
{% else %}
<section id="why">
  <ul>
  {% for item in site.data.why.whys %}
    <li><strong>{{- item.name -}}</strong> - {{ item.text }}</li>
  {% endfor %}
  </ul>
</section>
{% endif %}